* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
}

.global-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.global-wrapper .section {
  padding: 96px 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .global-wrapper .section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.global-wrapper .section .image-container {
  width: 50%;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .global-wrapper .section .image-container {
    width: 100%;
  }
}

.global-wrapper .section .image-container .image-wrapper {
  padding-right: 20px;
}

@media (max-width: 900px) {
  .global-wrapper .section .image-container .image-wrapper {
    padding: 10px 0;
  }
}

.global-wrapper .section .image-container .image-wrapper img {
  display: block;
  width: 100%;
}

.global-wrapper .section .text-container {
  width: 50%;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #121212;
}

@media (max-width: 900px) {
  .global-wrapper .section .text-container {
    padding: 10px 10px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.global-wrapper .section .text-container p {
  font-size: 16px;
  padding: 0;
}

.global-wrapper .section .text-container button {
  font-weight: 700;
  background: #E4C1AE;
  border-radius: 32px;
  border: none;
  width: 128px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.global-wrapper .section .text-container button:hover {
  background-color: #fff;
  border: #E4C1AE 4px solid;
  color: #E4C1AE;
  transition: 300ms;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.popup.popup-non-active {
  display: none;
}

.popup .popup-main {
  width: 80%;
  height: 210px;
  z-index: 150px;
  position: relative;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 46px 46px 56px 95px;
}

.popup .popup-main p {
  margin: 26px 0 0 0;
}

@media (max-width: 900px) {
  .popup .popup-main p {
    margin: 0;
  }
}

.popup .popup-main .bolded {
  font-weight: 700;
}

.popup .popup-main .fa-solid.fa-x {
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 900px) {
  .popup .popup-main .fa-solid.fa-x {
    padding: 0 20px;
  }
}

.popup .popup-main .restart-button {
  font-weight: 700;
  background: #121212;
  border-radius: 32px;
  border: none;
  width: 128px;
  height: 28px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.popup .popup-main .restart-button.button-non-active {
  display: none;
}

@media (max-width: 900px) {
  .popup .popup-main .restart-button {
    font-size: 12px;
  }
}

.popup .popup-main .restart-button:hover {
  background-color: #fff;
  border: #121212 2px solid;
  color: #121212;
  transition: 300ms;
}

@media (max-width: 900px) {
  .popup .popup-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
}
