@import "variables";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: 700; 
    font-size: 42px;
}

.global-wrapper{
    max-width: 1440px;
    margin: 0 auto;

    .section{
        padding: 96px 0 0;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media(max-width: 900px) {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .image-container{
            width: 50%;
            display: flex;
            align-items: center;

            @media(max-width: 900px) {
                width: 100%;
            }

            .image-wrapper{
                padding-right: 20px;
                
                @media(max-width: 900px) {
                    padding: 10px 0;
                }

                img{
                    display: block;
                    width: 100%;
                }
            }
        }

        .text-container{
            width: 50%;
            padding: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: $dark;
            @media(max-width: 900px) {
                padding: 10px 10px;
                width: 100%;
                align-items: center;
                text-align: center;
            }

            p{
                font-size: 16px;
                padding: 0;
            }    

            button{
                font-weight: 700;
                background: $primary;
                border-radius: 32px;
                border: none;
                width: 128px;
                height: 48px;
                font-size: 16px;
                color: $white;
                cursor: pointer;
            }
            button:hover{
               background-color: $white;
               border: $primary 4px solid;
               color: $primary;
               transition: 300ms;
            }
        }
    }

    
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $opacited;
    z-index: 50;

    &.popup-non-active{
        display: none;
    }

    .popup-main{
        width: 80%;
        height: 210px;
        z-index: 150px;
        position: relative;
        background-color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 46px 46px 56px 95px;

        // display: flex;
        // flex-direction: column;
 
        p{
            margin: 26px 0 0 0;

            @media(max-width: 900px) {
                margin: 0;
            }
        }

        .bolded{
            font-weight: 700;
        }
        
        .fa-solid.fa-x{
            width: 100%;
            text-align: right;
            cursor: pointer;
            font-size: 16px;

            @media(max-width: 900px) {
                
                padding: 0 20px;
            }
        }

        .restart-button{
            
                font-weight: 700;
                background: $dark;
                border-radius: 32px;
                border: none;
                width: 128px;
                height: 28px;
                font-size: 16px;
                color: $white;
                cursor: pointer;
                margin-top: 10px;
           
            &.button-non-active{
                display: none;
            }

            @media(max-width: 900px) {
                font-size: 12px;
            }
        }

        .restart-button:hover{
            background-color: $white;
            border: $dark 2px solid;
            color: $dark;
            transition: 300ms;
         }

        @media(max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 0;
        }
    }
}